<%- include ('../partials/header') %>

<div class="container">
    <div class="row ">
        <!-- CAMPGROUND SECTION -->
        <div class="col-md-8 mb-4">
            <div class="card">
                <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
                <div class="card-body">
                    <h5 class="float-right">$ <%= campground.price %>/night</h5>
                    <h4 class="card-title mb-0">
                        <i class="fas fa-campground"></i> 
                        <%= campground.name %>
                    </h4>
                    <small>
                        <em>
                            Submitted by: 
                            <a href="/users/<%= campground.author.id %>">
                                <%= campground.author.username %>
                            </a>
                            , <%= moment(campground.createdAt).fromNow() %>
                        </em>
                    </small>
                    <hr class="my-2 pb-2">
                    <p class="card-text"><%= campground.description %></p>
                    <!-- Show Edit/Delete Buttons for Campground if user is author-->
                    <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-outline-warning btn-sm">Edit</a>
                        <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-outline-danger btn-sm">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <!-- COMMENTS SECTION -->
            <div class="my-3 p-3 rounded shadow-sm card">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h6 class="pb-2 mb-0">
                        Comments
                        <i class="fas fa-comments"></i>
                    </h6>
                    <a class="btn btn-success btn-sm" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
                        <i class="fas fa-plus"></i> 
                        Add New Comment
                    </a>
                </div>
                <!-- Collapse Add comment form START-->
                <div class="collapse" id="collapseComment">
                    <div class="my-0 p-3 shadow-sm">
                        <% if(!currentUser) { %>
                            <!-- If the user is not logged in, direct him to the login page -->
                            <p>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</p>
                        <% } else {%>
                            <!--If the user is logged in, show the new comment form-->
                            <form id="add-comment-form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
                                <div class="form-group">
                                    <label for="comment">Write your comment <i class="fas fa-pencil-alt"></i></label>
                                    <textarea required class="form-control" form="add-comment-form" id="comment" name="comment[text]" cols="70" rows="2" placeholder="Write your comment..."></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-primary btn-block">Comment</button>
                                </div>
                            </form>
                        <% } %>
                    </div>
                </div>
                <!-- Collapse Add comment form END -->
                <hr class="my-2">
                <!-- Check if there are comments, if there aren't then say "No comments yet" -->
                <% if (campground.comments.length === 0) { %>
                    <small class="text-center"><em>No comments yet</em></small>
                <% } %>
                <!-- Display comments by looping  -->
                <% campground.comments.forEach((comment) => { %>
                    <div class="media text-muted border-bottom">
                        <div class="col-md-1 p-0">
                            <img src="<%= comment.author.avatar %>" class="comment-avatar card" alt="avatar">
                        </div>
                        <div class="col-md-11 p-0 media-body">
                            <div class="pb-2 mb-0 lh-125 justify-content-betweens">
                                <strong><%= comment.author.username %></strong>
                                <small class="float-right lh-125"><%= moment(comment.createdAt).fromNow() %></small>
                            </div>
                            <p class="pb-2 small mb-0 lh-125"><%= comment.text %></p>
                            <!-- Show Edit/Delete Buttons for Comment if user is author-->
                            <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <a class="btn btn-warning btn-sm my-1" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">
                                    Edit
                                </a>
                                <form class="d-inline" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            <% } %>
                            <!-- Collapse Edit comment form START-->
                            <div class="collapse" id="collapseEdit<%= comment._id %>">
                                <div class="my-0 py-3 shadow-sm">
                                    <form id="edit-comment-form<%= comment._id %>" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                                        <div class="form-group">
                                            <label for="edit-comment">Edit your comment <i class="fas fa-edit"></i></label>
                                            <textarea required class="form-control" form="edit-comment-form<%= comment._id %>" id="edit-comment" name="comment[text]" cols="70" rows="2" placeholder="Your comment..."><%= comment.text %></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-sm btn-primary btn-block">Edit Comment</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Collapse Edit comment form END -->
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
        <!-- LOCATION/MAP SECTION -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div id="map"></div>
                <div class="card-body pb-2">
                    <h6>Location</h6>
                    <hr class="my-1">
                    <small><%= campground.location %></small>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Scripts for Google Maps -->
<script>
    function initMap() {
      var lat = <%= campground.lat %>;
      var lng = <%= campground.lng %>;
      var center = {lat: lat, lng: lng };
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: center,
          scrollwheel: false
      });
      var contentString = `
        <strong><%= campground.name %><br />
        <%= campground.location %></strong>
        <p><%= campground.description %></p>
      `
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      var marker = new google.maps.Marker({
          position: center,
          map: map
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script>

  <!-- When deploying to Heroku changing restrictions to APIS will be needed http://webdev.slides.com/nax3t/yelpcamp-refactor-google-maps#/10-->
  <!-- Also MAPS_API_KEY in this file (script below) might need to be replaced with the actual key after restrictions have been updated -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.MISSING_KEY %>&callback=initMap"></script>
  
  <!-- FOR GEOCODER_API_KEY and ...maybe MAPS_API_KEY-->
  <!-- Export key to Heroku using http://webdev.slides.com/nax3t/yelpcamp-refactor-google-maps#/14 -->
  <!-- Which talks about this: heroku config:set GEOCODER_API_KEY=your-key-here-->

<%- include ('../partials/footer') %>