<%- include ('../partials/header') %>

<div class="container">
    <div class="row ">
        <div class="col-md-8 mb-4">
            <div class="card">
                <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
                <div class="card-body">
                    <h5 class="float-right">
                        $ <%= campground.price %>/night
                    </h5>
                    <h4 class="card-title mb-0">
                        <i class="fas fa-campground"></i> 
                        <%= campground.name %>
                    </h4>
                    <small>
                        <em>
                            Submitted by: 
                            <a href="/users/<%= campground.author.id %>">
                                <%= campground.author.username %>
                            </a>
                            , <%= moment(campground.createdAt).fromNow() %>
                        </em>
                    </small>
                    <hr class="my-2 pb-2">
                    <p class="card-text"><%= campground.description %></p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-outline-warning btn-sm">Edit</a>
                        <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-outline-danger btn-sm">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="my-3 p-3 rounded shadow-sm card">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h6 class="pb-2 mb-0">
                        Comments
                        <i class="fas fa-comments"></i>
                    </h6>
                    <a class="btn btn-success btn-sm"href="/campgrounds/<%= campground._id %>/comments/new">
                        <i class="fas fa-plus"></i> 
                        Add New Comment
                    </a>
                </div>
                <hr class="my-2 pb-1">
                <% campground.comments.forEach((comment) => { %>
                    <div class="media text-muted pt-1 border-bottom">
                        <img src="<%= comment.author.avatar %>" class="comment-avatar card" alt="avatar">
                        <p class="media-body pb-2 small mb-0 lh-125">
                            <strong class="d-block"><%= comment.author.username %></strong>
                            <%= comment.text %>
                        </p>
                        <small class="d-block text-right mt-0">
                            <p class="pb-1 mb-2 lh-125 "><%= moment(comment.createdAt).fromNow() %></p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                                    <a  href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" class="btn btn-warning btn-sm my-1">
                                        Edit
                                    </a>
                                    <form class="mb-1" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                            <% } %>
                        </small>
                    </div>
                <% }); %>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div id="map"></div>
                <div class="card-body pb-2">
                    <h6>
                        Location 
                        <i class="fas fa-globe-americas"></i>
                    </h6>
                    <hr class="my-1">
                    <small><%= campground.location %></small>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function initMap() {
      var lat = <%= campground.lat %>;
      var lng = <%= campground.lng %>;
      var center = {lat: lat, lng: lng };
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: center,
          scrollwheel: false
      });
      var contentString = `
        <strong><%= campground.name %><br />
        <%= campground.location %></strong>
        <p><%= campground.description %></p>
      `
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      var marker = new google.maps.Marker({
          position: center,
          map: map
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script>

  <!-- When deploying to Heroku changing restrictions to APIS will be needed http://webdev.slides.com/nax3t/yelpcamp-refactor-google-maps#/10-->
  <!-- Also MAPS_API_KEY in this file (script below) might need to be replaced with the actual key after restrictions have been updated -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.MISSING_KEY %>&callback=initMap"></script>
  
  <!-- FOR GEOCODER_API_KEY and ...maybe MAPS_API_KEY-->
  <!-- Export key to Heroku using http://webdev.slides.com/nax3t/yelpcamp-refactor-google-maps#/14 -->
  <!-- Which talks about this: heroku config:set GEOCODER_API_KEY=your-key-here-->

<%- include ('../partials/footer') %>